:root {
	--main-background-color: #242736;
	--main-text-color: linen;
}
*, ::before, ::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 55%;
}

/* if background is skyblue, than device width is less than 321px, if it's red width is   */
body {
	font-family: 'PT Serif', serif;
	background-color: skyblue;
	color: var(--main-text-color);
	
	display: grid;
	grid-template-columns: minmax(2rem, 1fr) auto minmax(2rem, 1fr);
	row-gap: 3rem;
	
}
@media (min-width: 321px){
	body {
		grid-template-columns: minmax(2rem, 1fr) minmax(min-content, 42rem) minmax(2rem, 1fr);
		background-color: red;
	}
	html {
		font-size: 62.5%;
	}
}
@media (min-width: 376px){
	body {
		grid-template-columns: minmax(2rem, 1fr) minmax(min-content, 42rem) minmax(2rem, 1fr);
		background-color: white;
	}
	html {
		font-size: 62.5%;
	}
}
@media (min-width: 426px){
	body {
		grid-template-columns: minmax(2rem, 1fr) minmax(min-content, 42rem) minmax(2rem, 1fr);
		background-color: coral;
	}
	html {
		font-size: 62.5%;
	}
}
@media (min-width: 1024px){
	body {
		grid-template-columns: minmax(2rem, 1fr) minmax(min-content, 94rem) minmax(2rem, 1fr);
		background-color: var(--main-background-color);
	}
	html {
		font-size: 62.5%;
	}
}
