:root {
  --solid-border: 1px solid black;
  --dashed-border: 1px dashed black;
  --color0: hsl(120, 100%, 50%);
  --color1: hsl(120, 90%, 60%);
  --color2: hsl(120, 80%, 70%);
  --color3: hsl(120, 70%, 80%);
  --color4: hsl(120, 60%, 90%);
  --color5: hsl(120, 50%, 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
table {
  border-collapse: collapse;
}
.sharp td{
  border-bottom: var(--solid-border);
}
.half td{
  border-bottom: var(--dashed-border);
}
.available-0 {
  background-color: var(--color0);
}
.available-1 {
  background-color: var(--color1);
}
.available-2 {
  background-color: var(--color2);
}
.available-3 {
  background-color: var(--color3);
}
.available-4 {
  background-color: var(--color4);
}
.available-5 {
  background-color: var(--color5);
}
#legend-gradient {
	border: 1px solid black;
  width: 100px;
  height: 30px;
  background-image: linear-gradient(90deg,
	var(--color0) 0% 17%,
	var(--color1) 17% 34%,
	var(--color2) 34% 50%,
	var(--color3) 50% 67%,
	var(--color4) 67% 84%,
	var(--color5) 84% 100%	
	);
}