body {
  background-color: skyblue;
}
.form-container {
  background-color: lemonchiffon;
  border-radius: 16px;
  width: 60vw;
  min-width: 500px;
  max-width: 800px;
  margin: 120px auto;
  text-align: center;
  padding: 20px;
  font-family: Tahoma;
}
label {
  margin: 20px auto;
  color: #000080;
  font-size: 1.2rem;
  display: block;
  width: 100%;
}
input, textarea {
  width: 100%;
  padding: 0px 0;
  margin: 0 auto 15px auto;
  line-height: 1.5rem;
  overflow-y: none;
}
#submit {
  background-color: #FF7F50;
  padding: 30px;
  width: 60%;
  border: none;
  border-radius: 20px;
  display: block;
  margin: auto;
}